body{
    background-color: #506350;
}

.recipeform-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color:#698269;
    align-items:left;
    border-radius: 20px;
}

.recipeform-item{
    margin:10px;
    border-radius: 5px;
}

.recipeinput{
    border-style:hidden;
    border-radius: 3px;
}

.recipeform-item > td > button{
    float:right;
    border-radius: 5px;
    border-style: hidden;
}

.savebutton{
    position: relative;
    border-radius: 5px;
    border-style: hidden;
    /*Miksei mene oikealle?*/
}