.adminForm {
    display: flex;
    flex-direction: column;
    align-items:center;
}

  .adminForm body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

  .adminContainer {
    gap: 0.9rem; 
    max-width: 900px; 
    margin: auto;
    background-color: #AA5656;
    padding: 60px; 
    border-radius: 15px;
    border: 15px solid #B99B6B;
}
  .adminHead{
    background-color: #AA5656;
    border-radius: 20px;
    margin: 10px;
    max-width: 900px; 
}

  /*
    Värit: #698269, #B99B6B, #F1DBBF, #AA5656, #3c493c
*/