.forgotPasswordFormbody {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #EDE1D1;
    margin-top:25px;
  }

  .forgotPasswordForm {
    position: relative; 
    top: -250px;
    display: flex;
    flex-direction: column;
    align-items:center;
    gap: 0.9rem; 
    max-width: 400px; 
    margin: auto;
    align-self: center;
    background-color: #e2d2bd;
    padding: 60px; 
    border-radius: 15px;
    border: 15px solid #6A704C;
    text-align: center;
  }

  .forgotPasswordForminput {
    width: 30%; 
    padding: 0.8rem; 
    margin-bottom: 1rem;
  }

  .forgotPasswordFormbutton {
  
    padding: 0.8rem 2rem;
    box-sizing: content-box;
    margin-top: 1rem;
    align-self: center;
    border-radius: 20px;
    border-style: hidden;
    background-color: #6A704C;
    font-family: 'CustomFont', sans-serif;
    font-weight: bold;
    font-size: x-large;
    color: #412E27;
    padding: 7px;
   
  }

  .forgotPasswordForm h1 {
    color: #412E27;
  }