.forgotPasswordFormbody {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    margin: 100px 0;
    width: 100%;
    margin-top:25px;
  }

  .forgotPasswordForm-border {
    margin-top:100px;
    background-color: #e2d2bd;
    display: flex;
    justify-content: center;
    width: 100%;
    max-height: 50%;
    min-width: 90%;
    margin-bottom: 10%;
      
  }


  .forgotPasswordForm {
    display: flex;
  flex-direction: column;
  align-items:center;
  gap: 0.9rem; 
  max-width: 400px; 
  margin: auto;
  align-self: center;
  background-color:  #EDE1D1;
  padding: 60px; 
  border-radius: 15px;
  border: 15px solid #6A704C;
  text-align: center;
  }

  .forgotPasswordForminput {
    width: 30%; 
    padding: 0.8rem; 
    margin-bottom: 1rem;
  }

  .forgotPasswordFormbutton {
  
    padding: 0.8rem 2rem;
    box-sizing: content-box;
    margin-top: 1rem;
    align-self: center;
    border-radius: 20px;
    border-style: hidden;
    background-color: #6A704C;
    font-family: 'CustomFont', sans-serif;
    font-weight: bold;
    font-size: x-large;
    color: #412E27;
    padding: 7px;
   
  }

  .forgotPasswordForm h1 {
    color: #412E27;
  }