.recipeViewContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #e2d2bd;
    width: 100%;
    padding-bottom: 30%;
}

.recipeViewContainer > * {
    flex: 1 1 25%;
    max-width: 25%;
    margin: 10px;
    background-color: #EDE1D1;
    border-radius: 20px;
    border: 10px solid #6A704C;
    color: #412E27;
}

.frontpageheader {
    text-align: center;
    color: #6A704C;
}