/*
    Vanhat värit: #698269, #B99B6B, #F1DBBF, #AA5656, #3c493c
    Uudet värit: Primary: #6A704C, Accent: #412E27, Background: #EDE1D1, Secondary backgound: #e2d2bd
*/

.recipeViewContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.recipeViewContainer > * {
    flex: 1 1 25%;
    max-width: 25%;
    margin: 10px;
    background-color: #AA5656;
    border-radius: 15px;
    border: 15px solid #B99B6B;
}

.frontpageheader {
    text-align: center;
}