.recipeViewContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.recipeViewContainer > * {
    flex: 1 1 25%;
    max-width: 25%;
    margin: 10px;
    background-color: #AA5656;
    border-radius: 15px;
    border: 15px solid #B99B6B;
}

h1 {
    text-align: center;
}