/*
    Vanhat värit: #698269, #B99B6B, #F1DBBF, #AA5656, #3c493c
    Uudet värit: Primary: #6A704C, Accent: #412E27, Background: #EDE1D1, Secondary backgound: #e2d2bd
*/
.loginFormbody {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background-color: #EDE1D1;
  margin-top:25px;
}

.loginForm {
  position: relative; 
  top: -200px;
  display: flex;
  flex-direction: column;
  align-items:center;
  gap: 0.9rem; 
  max-width: 400px; 
  margin: auto;
  align-self: center;
  background-color: #e2d2bd;
  padding: 60px; 
  border-radius: 15px;
  border: 15px solid #6A704C;
  text-align: center;
     
  }
  .loginForm h1 {
    color: #412E27;

  }

  .loginForminput {
    width: 80%; 
    padding: 0.8rem; 
    margin-bottom: 1rem;
  }
 
  .loginFormbutton {
    width: 30%;
    padding: 0.8rem;
  }

  .loginFormLoginContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    color: #ffffff;
   
  }
  .loginForm button {
  
    padding: 0.8rem 2rem;
    box-sizing: content-box;
    margin-top: 1rem;
    align-self: center;
   
  }