/*
    Vanhat värit: #698269, #B99B6B, #F1DBBF, #AA5656, #3c493c
    Uudet värit: Primary: #6A704C, Accent: #412E27, Background: #EDE1D1, Secondary backgound: #e2d2bd
*/
.loginFormbody {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  margin: 100px 0;
  width: 100%;
  margin-top:25px;
}

.login-border {
  margin-top:70px;
  background-color: #e2d2bd;
  display: flex;
  justify-content: center;
  width: 100%;
  max-height: 50%;
  min-width: 90%;
  margin-bottom: 10%;
    
}

.loginForm {
 
  display: flex;
  flex-direction: column;
  align-items:center;
  gap: 0.9rem; 
  max-width: 400px; 
  margin: auto;
  align-self: center;
  background-color:  #EDE1D1;
  padding: 60px; 
  border-radius: 15px;
  border: 15px solid #6A704C;
  text-align: center;
     
  }
  .loginForm h1 {
    color: #412E27;

  }

  .loginForminput {
    width: 80%; 
    padding: 0.8rem; 
    margin-bottom: 1rem;
  }
 
  .loginFormbutton {
    width: 30%;
    padding: 0.8rem;
  }

  .loginFormLoginContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    color: #ffffff;
   
  }
  .loginForm button {
  
    padding: 0.8rem 2rem;
    box-sizing: content-box;
    margin-top: 1rem;
    align-self: center;
    border-radius: 20px;
    border-style: hidden;
    background-color: #6A704C;
    font-family: 'CustomFont', sans-serif;
    font-weight: bold;
    font-size: large;
    color: #412E27;
   
  }