/*
    Vanhat värit: #698269, #B99B6B, #F1DBBF, #AA5656, #3c493c
    Uudet värit: Primary: #6A704C, Accent: #412E27, Background: #EDE1D1, Secondary backgound: #e2d2bd
*/
.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.644);
    color: #F1DBBF;
}

.modal-header {
    color: #F1DBBF;
}
  
.modal-content {
    background-color:#506350;
    margin: 15% auto;
    padding: 20px;
    border: 5px solid #2c362c;
    width: 25%;
    border-radius: 25px;
}
  
.close{
    color: #9b9792;
    font-size: 28px;
    font-weight: bold;
    float:right;
}
  
.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-content > button, .copy-button {
    float:right;
    border-radius: 5px;
    border-style: hidden;
    background-color: #AA5656;
    color:#fdbbbb;
}

.print-button {
    float:right;
    border-radius: 5px;
    border-style: hidden;
    background-color: #AA5656;
    color:#fdbbbb;
    margin-bottom: 10px;
    margin-top: 10px;
}

.modalInput {
    border-style:hidden;
    border-radius: 3px;
}

.modal-text {
    color: #F1DBBF;
}

.modal-group {
    display: flex;
    align-items: center;
}

.url {
    border-radius: 2px;
    border-style: hidden;
    width: 80%;
    flex: 1;
}

.copied-message {
    font-size: small;
    color: #19221c;
}