nav {
    display: flex;
    justify-content: space-between;
}

.navLink {
    background: none;
    color: #6A704C;
    border: none;
    font: inherit;
    cursor: pointer;
    font-size: 3rem;
    text-decoration: none;
    margin-left: 1rem;
    margin-right: 1rem;
}

.separator {
    border-bottom: 3px solid #6A704C;
}

@media print {
    nav {
        display: none !important;
    }
}