
.passwordBody {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #506350;
  }
  
  .passwordForm {
      display: flex;
      flex-direction: column;
      align-items:center;
      gap: 0.9rem; 
      max-width: 400px; 
       margin: auto;
       align-self: center;
       background-color: #AA5656;
      padding: 60px; 
     border-radius: 15px;
     border: 15px solid #B99B6B;
       
    }
  
    .passwordInput {
      width: 120%; 
      padding: 0.8rem; 
      margin-bottom: 1rem;
    }
   
    .passwordButton {
      width: 30%;
      padding: 0.8rem;
    }