/*
    Vanhat värit: #698269, #B99B6B, #F1DBBF, #AA5656, #3c493c
    Uudet värit: Primary: #6A704C, Accent: #412E27, Background: #EDE1D1, Secondary backgound: #e2d2bd
*/
.recipeView {
    background: none;
    color: inherit;
    border: none;
    font: inherit;
    cursor: pointer;
    font-size: 2rem;
    text-decoration: none;
    margin-left: 1rem;
    margin-right: 1rem;
}