.recipeView {
    background: none;
    color: #412E27;
    border: none;
    font: inherit;
    cursor: pointer;
    font-size: 2rem;
    text-decoration: none;
    margin-left: 1rem;
    margin-right: 1rem;
}

.recipeView > div {
    color: #412E27;
}