/*
    Värit: #698269, #B99B6B, #F1DBBF, #AA5656, #3c493c
*/

body{
    background-color: #506350;
}

button{
    cursor: pointer;
}

.recipeform-body{
    display: flex;
    justify-content: center;
    color:#F1DBBF;
}

.recipeform-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color:#698269;
    align-items:left;
    border-radius: 20px;
}

.recipeform-item{
    margin:10px;
    border-radius: 5px;
    display: flex;
}

.recipeinput{
    border-style:hidden;
    border-radius: 3px;
}

.addbutton{
    border-radius: 5px;
    border-style: hidden;
    background-color: #AA5656;
    color:#F1DBBF;
}

.editremovebutton{
    background-color: #506350;
    color:#96be96;
    border-style: hidden;
    border-radius: 5px;
}

.postbutton, .saverecipebutton{
    position: relative;
    border-radius: 5px;
    border-style: hidden;
}

.recipe-container{
    display: flex;
    flex-direction: column;
    background-color: #B99B6B;
    width: 45%;
    border-radius: 25px;
    margin: 30px;
}

.recipe-head{
    background-color: #AA5656;
    border-radius: 20px;
    margin: 10px;
    position: relative;
}

.recipe-head > h1, div, p {
    color:#F1DBBF;
    margin: 10px;
}

.recipe-head > button{
    background-color: #506350;
    color:#F1DBBF;
    border-style: none;
    border-radius: 5px;
    margin:10px;
}

.keywords > li{
    background-color: #506350;
    border-radius: 10px;
    display: inline;
    padding: 2px;
    margin: 5px;
    cursor: pointer;
}

.recipe-foot{
    display: flex;
    flex-wrap: wrap;
}

.recipe{
    background-color: #F1DBBF;
    display: flex;
    flex-direction: column;
    margin: 10px;
    border-radius: 20px;
    flex-basis: 70%;
    align-items: start;
    color: #3c493c;
}

.recipe-steps{
    color: #3c493c;
}

.recipe-reviews, .review-placeholder{
    background-color: #AA5656;
    border-radius: 20px;
    margin: 10px;
    color: #F1DBBF;
    flex-basis: 25%;
}

.review-button{
    border-style: none;
    border-radius: 10px;
    background-color:#506350;
    color:#F1DBBF;
}

.recipeform-step{
    color:#F1DBBF;
}

.notfound{
    text-align: center;
    font-style: italic;
    padding-top: 10%;
}

.picbutton{
    width: 35px;
    height: 35px;
    padding-left: 25px;
}

.recipeimage{
    max-width: '100%';
    height: 'auto';
}