/*
    Vanhat värit: #698269, #B99B6B, #F1DBBF, #AA5656, #3c493c
    Uudet värit: Primary: #6A704C, Accent: #412E27, Background: #EDE1D1, Secondary backgound: #e2d2bd
*/

body {
    background-color: #EDE1D1;
    font-family: 'CustomFont', sans-serif;
}

button {
    cursor: pointer;
}

/*Add Recipe Page*/

.recipeform {
    background-color: #EDE1D1;
    border-radius: 40px;
    margin: 1rem;
    min-width: 1000px;
}

.recipeform-body {
    display: flex;
    flex-direction: column;
    color: #412E27;
    background-color: #e2d2bd;
    width: 100%;
    padding-bottom: 10%;
    min-width: 90%;
    overflow-y: hidden;
}

.recipeform-top {
    color: #6A704C;
}

.recipeform-mid {
    display: flex;
    flex-direction: row;
}

.recipeform-bottom {
    padding-left: 45%;
}

.recipeform-left, .recipeform-right {
    flex: 1;
}

.recipeform-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    color: #6A704C;
    align-items:left;
    border-radius: 20px;
}

.recipeform-item {
    margin: 10px;
    border-radius: 5px;
    display: flex;
    font-size: x-large;
}

.recipeinput {
    border-style: hidden;
    border-radius: 3px;
}

.addbutton, .removebutton {
    border-radius: 15px;
    border-style: hidden;
    background-color: #6A704C;
    color: #412E27;
    font-family: 'CustomFont', sans-serif;
    font-weight: bold;
    font-size: large;
    padding-left: 10px;
    padding-right: 10px;
    height: 5%;
}

.editremovebutton {
    border-radius: 10px;
    border-style: hidden;
    background-color: #6A704C;
    color: #412E27;
    font-family: 'CustomFont', sans-serif;
    font-weight: bold;
    font-size: large;
}

.postbutton, .saverecipebutton {
    border-radius: 20px;
    border-style: hidden;
    background-color: #6A704C;
    font-family: 'CustomFont', sans-serif;
    font-weight: bold;
    font-size: x-large;
    color: #412E27;
    padding: 7px;
}

.visibilityMessage {
    font-size: medium;
}

.recipeform-ingredient > td, .recipeform-step, .recipeform-keywords {
    word-wrap: break-word;
    word-break: break-all;
    width: 40rem;
    color: #6A704C;
}

/*Recipe Page*/

.recipe-border {
    background-color: #e2d2bd;
    display: flex;
    justify-content: end;
    width: 100%;
    padding-bottom: 10%;
    min-width: 90%;
}

.recipe-container {
    display: flex;
    flex-direction: column;
    background-color: #EDE1D1;
    width: 45%;
    border-radius: 25px;
    margin: 30px;
    flex: 2;
    min-width: 2rem;
}

.reviews-container {
    background-color: #412E27;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    flex: 1;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 30px;
    color: #EDE1D1;
}

.reviews-container > h1 {
    padding-left: 1rem;
}

.reviews {
    flex: 4;
}

.reviewinput {
    margin: 0.8em;
    border-radius: 7px;
    width: 95%;
}

.leave_review {
    flex: 1;
    background-color: #6A704C;
    border-radius: 20px;
}

.postreviewbtn {
    color: #EDE1D1;
    background-color: #412E27;
    border-radius: 10px;
    border-style: none;
    font-family: 'CustomFont', sans-serif;
    font-weight: bold;
    font-size: large;
    margin-right: 2em;
    margin-left: 2em;
    max-width: 20%;
}

.review {
    background-color: #6A704C;
    border-radius: 10px;
}

.recipe-head {
    border-radius: 20px;
    margin: 10px;
    position: relative;
    padding-left: 20px;
    display: flex;
}

.recipehead-container {
    flex: 3;
}

.recipe-head > h1, div, p {
    color:#6A704C;
    margin: 10px;
}

.recipe-head > button, .printbutton {
    background-color: #6A704C;
    color:#6A704C;
    border-style: none;
    border-radius: 5px;
    margin-left: 1rem;
    color: #412E27;
    font-family: 'CustomFont', sans-serif;
    font-weight: bold;
    font-size: medium;
    border-radius: 10px;
}

.keywords > li {
    background-color: #6A704C;
    color: #412E27;
    font-weight: bold;
    border-radius: 10px;
    display: inline;
    padding: 2px;
    margin: 5px;
    cursor: pointer;
}

.recipe {
    display: flex;
    flex-direction: column;
    margin: 10px;
    border-radius: 20px;
    flex-basis: 70%;
    align-items: start;
    color: #6A704C;
    padding-left: 70px;
}

.recipe-steps {
    color: #6A704C;
}

.review-button {
    border-style: none;
    border-radius: 10px;
    background-color:#6A704C;
    color:#F1DBBF;
}

.notfound {
    text-align: center;
    font-style: italic;
    padding-top: 10%;
}

.picbutton {
    width: 35px;
    height: 35px;
    padding-left: 1em;
}

.recipeimage {
    width: 500px;
    height: 500px;
    object-fit: contain;
}

.image-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 300px;
    max-height: 300px;
    border-radius: 20px;
    overflow: hidden;
}

.separator {
    border-bottom: 3px solid #6A704C;
}

.review-rating-star {
    width: 1em;
    height: 1em;
}