.dialog-overlay {
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    border-radius: 10px;
    max-width: 100%;
    text-align: center;
    background-color: #506350;
    
    
}
.dialog-overlay h3 {
    text-align: center;
    margin-bottom: 1rem;
    color: #F1DBBF;
  }

.dialog-content {
    background-color:#AA5656;
    padding: 20px;
    border-radius: 10px;
    max-width: 80%;
    text-align: center;
    border: 15px solid #B99B6B;
}

.dialog-button {
    margin-top: 10px;
    padding: 8px 16px;
    background-color: white;
    color: black;
    border: none;
    cursor: pointer;
}

.dialog-button:hover {
    background-color: whitesmoke;
}

