/*
    Vanhat värit: #698269, #B99B6B, #F1DBBF, #AA5656, #3c493c
    Uudet värit: Primary: #6A704C, Accent: #412E27, Background: #EDE1D1, Secondary backgound: #e2d2bd
*/
.registerFormbody {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background-color: #EDE1D1;
  margin-top:25px;
}

.registerForm {
    position: relative; 
    top: -180px;
    display: flex;
    flex-direction: column;
    align-items:center;
    gap: 0.9rem; 
    max-width: 400px; 
    margin: auto;
    align-self: center;
    background-color: #e2d2bd;
    padding: 60px; 
    border-radius: 15px;
    border: 15px solid #6A704C;
    text-align: center;
  }
  .registerForm h1 {
    text-align: center;
    margin-bottom: 1rem;
    color: #412E27;
  }
  .registerForm h3 {
    text-align: center;
    margin-bottom: 1rem;
    color:#412E27;
  }

  .registerForm input {
    width: 80%; 
    padding: 1rem; 
    margin-bottom: 1rem;
  }
 
  .registerForm button {
  
    padding: 0.8rem 2rem;
    box-sizing: content-box;
    margin-top: 1rem;
    align-self: center;
   
  }

.registerFormLoginContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  color: #ffffff;
 
}
