/*
    Vanhat värit: #698269, #B99B6B, #F1DBBF, #AA5656, #3c493c
    Uudet värit: Primary: #6A704C, Accent: #412E27, Background: #EDE1D1, Secondary backgound: #e2d2bd
*/
.searchContainer {
    display: flex;
    flex-wrap: wrap;
}

.searchViewContainer > * {
    flex: 1 1 25%;
    max-width: 25%;
    margin: 10px;
    background-color: #EDE1D1;
    border-radius: 20px;
    border: 10px solid #6A704C;
    color: #412E27;
}
